@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: sans-serif;
  background-color: #f8fafc; /* Light gray background */
  color: #334155; /* Darker text color */
}

/* Custom scrollbar for better aesthetics */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #e2e8f0; /* Light gray track */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #94a3b8; /* Medium gray thumb */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #64748b; /* Darker gray on hover */
}
